<article class="<%= item.layout %>">
  <% if (item.photos){ %>
    <%- partial('gallery') %>
  <% } %>
  <div class="post-content">
    <%- partial('header') %>
    <div class="entry">
		<% if(item.toc == true){ %>
			<div id="toc" class="toc-article">
				<strong class="toc-title">文章目录</strong>
				<%- toc(item.content) %>
			</div>
		<% } %>
        <%- item.content %>
    </div>
    <footer>
        <%- partial('category') %>
        <%- partial('tag') %>   
        <div class="clearfix"></div>
    </footer>
  </div>
</article>
<%- partial('pagination') %>
<%- partial('comment') %>