
<head>
     <meta charset="utf-8">
     <meta name="keywords" content="<%= keyWords %>">
     <% if(theme.color){ %>
         <meta name="theme-color" content="<%=theme.color%>">
     <% } %>
     <meta name="summary" content="<%=(page.excerpt || config.description)%>">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <%
         var title = page.title;

         if (is_archive()){
             title = 'Archives';

             if (is_month()){
                 title += ': ' + page.year + '/' + page.month;
             } else if (is_year()){
                 title += ': ' + page.year;
             }
         } else if (is_category()){
             title = 'Category: ' + page.category;
         } else if (is_tag()){
             title = 'Tag: ' + page.tag;
         }
     %>

     <title><% if (title){ %><%= title %> | <% } %><%= config.title %> | <%= config.subtitle %></title>

     <%
         var keyWords = config.keywords;

         if(page.tags){
             keyWords = [];

             _.isArray(page.tags)
                 ? ( keyWords = page.tags )
                 : page.tags.each(function(k){
                     keyWords.push(k.name);
                 });
         }
     %>


    <%- open_graph({
        twitter_id: theme.twitter,
        google_plus: theme.google_plus,
        fb_admins: theme.fb_admins,
        fb_app_id: theme.fb_app_id
    }) %>

    <%- favicon_tag(theme.favicon) %>
    <%- css('css/style') %>

    <% if (theme.rss){ %>
        <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
    <% } %>
</head>
