<div>
		<% if	(theme.imglogo.enable&&theme.imglogo.src){ %>
			<div id="imglogo">
				<a href="<%- config.root %>"><img src="<%- config.root %><%= theme.imglogo.src %>" alt="<%= config.title %>" title="<%= config.title %>"/></a>
			</div>
			<% } %>
			<div id="textlogo">
				<h1 class="site-name"><%= config.title %></h1>
				<h2 class="blog-motto"><% if (config.subtitle){ %><%= config.subtitle %><% } %></h2>
			</div>
			<nav class="animated">
				<ul>
					<% for (var i in theme.menu){ %>
						<li><a href="<%- theme.menu[i] %>"><%= i %></a></li>
					<% } %>
					<li> <a href="/atom.xml">RSS</a> </li>
				</ul>
			</nav>			
</div>
